Package: zeus-raw-copy
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: zeus <https://github.com/shampuan/>
Description: Zeus Raw Copy - Disk klonlama ve yedekleme aracı
 Disk klonlama ve imaj yazma işlemleri için PyQt5 arayüzlü araç.
